.Formulario {
    background-position: left;
    background-size: 120%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-family: "Chicken";
    font-size: 20px;
    width: 50%; /* Ancho del formulario para ocupar la mitad de la pantalla */
    margin: auto; 
  }
  
  
  .inputs {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .inputs input {
    width: 100%;
    height: 25px;
    background-color: #1AB3AB;
  }
  
  strong {
    font-size: large;
    color: black;
    font-style: italic;
  }
  
  .temperaments {
    color: black;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
  }
  
  .opciones {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    width: 90%;
  }
  
  .button {
    font-family: "Chicken";
    background-color: #6390da;
    color: rgb(9, 9, 9);
    cursor: pointer;
    padding: 15px;
    margin-top: 35px;
    transition: all 0.3s ease 0s;
  }
  .buttonBack {
    font-family: "Chicken";
    background-color: #151F2F;
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 10px;
    margin-top: 18px;
  }

  .button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  .button:hover {
    background-color: black;
    color: #fff;
    border-radius: 4px;
  }
  
  .lista {
    font-size: large;
    align-items: center;
  }
  
  .toDeleteContainer {
    display: flex;
    justify-content: left;
    align-items: center;
    border-radius: 20px;
    flex-wrap: wrap;
    gap: 1em;
    margin: 10px;
  }
  
  .toDelete {
    display: flex;
    background-color: #1AB3AB;
    border-radius: 30px;
    margin-top: 1%;
    margin-left: 60px;
    margin-right: 60px;
    width: 200px;
    padding: 5px;
    justify-content: space-evenly;
  }
  
  .toDelete button {
    padding: 2px;
  }
  
  .toDelete button:hover {
    transition: 0.3s;
    background-color: rgb(95, 92, 92);
    color: #F8EFAF;
  }