.contenido{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-image: url("../img/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

@font-face {
    font-family: "Chicken";
    src: url("../fonts/CHICKEN\ Pie.otf")
}

.contenido h1{
    font-size: 50px;
    text-align: center;
    margin-top: 18%;
    font-family: "Chicken";
}


.contenido p {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    font-family: "Cardo";
}

.homeBtn{
    align-items: center;
    display: flex;
    flex-direction: column;
    background: #e6dbc6;
    background-image: -webkit-linear-gradient(top, #e6dbc6, #c5c6c7);
    background-image: -moz-linear-gradient(top, #e6dbc6, #c5c6c7);
    background-image: -ms-linear-gradient(top, #e6dbc6, #c5c6c7);
    background-image: -o-linear-gradient(top, #e6dbc6, #c5c6c7);
    background-image: linear-gradient(to bottom, #e6dbc6, #c5c6c7);
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    -webkit-box-shadow: 7px 7px 20px #a3a3a3;
    -moz-box-shadow: 7px 7px 20px #a3a3a3;
    box-shadow: 7px 7px 20px #a3a3a3;
    color: #000000;
    font-size: 30px;
    padding: 20px 30px 20px 30px;
    text-decoration: none;
    max-width: 300px; 
    margin: 0 auto;
    animation: myAnim 2s ease 0s 1 normal forwards;
}
@keyframes myAnim {
	0% {
		animation-timing-function: ease-out;
		transform: scale(1);
		transform-origin: center center;
	}

	10% {
		animation-timing-function: ease-in;
		transform: scale(0.91);
	}

	17% {
		animation-timing-function: ease-out;
		transform: scale(0.98);
	}

	33% {
		animation-timing-function: ease-in;
		transform: scale(0.87);
	}

	45% {
		animation-timing-function: ease-out;
		transform: scale(1);
	}
}

.homeBtn:hover {
    background: #949494;
    text-decoration: none;
  }

.ingreso{
    font-family: "Chicken";
}